{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Announcement</title>
  <style>
    body {
      background-color: rgb(229, 226, 226);
    }

    nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 70px;
      width: 100%;
      box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    }

    #box {
      margin: 50px auto;
      margin-right: 50px;
    }
  </style>
</head>

<body>


  <nav style="background-color: #03b2c9;" class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static '/images/lebanon-flag.png' %}" alt="" width="50" height="45"
          class="d-inline-block align-text-top" />
      </a>
      <a class="navbar-brand" style="cursor:default; font-size: 23px; color: white;" href="#">School Managment
        System</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" style="color: white;" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="color: white;" aria-current="page"
              href="{% url 'list_courses' %}">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="color: white;" aria-current="page"
              href="Announcements.html">Announcement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="color: white;" aria-current="page" href="{% url 'contactView' %}">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="color: white;" aria-current="page"
              href="{% url 'logout_request' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br />
  <div id="box" class="container-fluid p- 5 m-15">
    <h4 class="text-center m-1">Welcome to our School Announcements Page:</h4>
    {% for announce in Announcements %}
    <div class="card text-white mb-3" style="max-width: 1500px;background:linear-gradient(to right, #03b2c9, #05616d);">
      <div class="card-header">New Announcement!</div>
      <div class="card-body">
        <h5 class="card-title">{{announce.desc}}</h5>
        <p class="card-text">{{announce.date}}</p>
      </div>

    </div>
    {% endfor%}
  </div>

</body>

</html>