<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>SUCCESS</h1>
    <!-- <form id='form' method="POST" action="{% url 'user_login' %}">
        {% csrf_token %} -->
       
        <!-- <label>Username: </label>
        <input id="username" type="text" name="username" class="form-control" placeholder="enter your username" required /><br>
        <label>Password: </label>
        <input id="passwd" type="password" name="password" class="form-control" placeholder="enter your password" required /><br />
        <input type="submit" value="login" class="btn btn-success" /> -->


     
    </form>
</body>
</html>